extends layout

block content
	h1= appTitle
	p Welcome to #{appTitle}
	br
	if (!user)
		a(href="/login") Login
			br
			a(href="/register") Register
	if (user)
		p You are currently logged in as #{user.username}
		a(href="/logout") Logout
  
