extends layout
block page
	- var menu = 'register'
block content
	div.col-xs-12.col-md-6
		h4 Sign up for #{appTitle}
		form(enctype="multipart/form-data", method="POST", action="/register")
			input(type="hidden", value=""+yelp_city+"")
			input(type="hidden", value=""+yelp_id+"")
			div.form-group
				label(for='user') Username:
				input.form-control(id="username", type="text", name="username")
			div.form-group
				label(for='pass') Password:
				input.form-control(type="password", name="password", id="Password")
			h4= info
			div.row
				div.col-xs-4
					button.btn.btn-primary.btn-block(type="submit") Sign up
				div.col-xs-1
					h4.text-center or
				div.col-xs-7
					a.btn.btn-info.btn-block(role="button", href="/auth/twitter") Sign up via Twitter
			h4 Already signed up?
			div.row
				div.col-xs-4
					a.btn.btn-success.btn-block(role="button", href="/login") Log in