extends layout
block page
	- var menu = 'search'
block content
	div.col-xs-12.col-md-6
		h4 Search in your City
		form(enctype="multipart/form-data", method="POST", action="/search")
			div.form-group
				label(for='term') Search term:
				input.form-control(id="term", type="text", name="term")
			div.form-group
				label(for='location') City:
				input.form-control(type="text", name="location", id="location")
			button.btn.btn-primary(type="submit") Search