extends layout
block page
	- var menu = 'user'
block content 
	if (data.length === 0)
		h3 Where do you want to go?
		h4 Search for a place and RSVP.
	else
		h3 I'm going places:
		each val, index in data
			div.row.well
				div.col-xs-12.col-sm-12.col-md-6
					div.col-xs-12.col-sm-3.col-md-3
						img.img-responsive(src=""+val.image_url+"")
					div.col-xs-12.col-sm-9.col-md-9
						h4 #{val.name}
						
						div.panel.panel-default
							div.panel-heading(id="toggle")
								a.panel-title #{val.rsvp_length} going
							div.panel-body(id="friendDiv", class="friendDiv")
								div#friends.col-xs-12
									ul.list-unstyled
										each item, index in val.rsvp
											li #{item.username}
				div.col-xs-12.col-sm-12.col-md-6
					
					div.col-xs-12
						h6 #{val.snippet_text}
					

				
							
	script(type="text/javascript").
		$(document).ready(function(){
			$('.friendDiv').addClass('hider');
			$(document).on('click', '#toggle', function(event){
				event.preventDefault();
				$(this).next('#friendDiv').toggleClass('hider');
			});
		});